@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// App launcher widget styles
.AppLauncher {
    margin-left: $margin-lg;
    
    icon {
        font-size: $font-size-lg;
        color: $color1;
    }    
}
