@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.AudioSliderBox {
    background-color: $widget-background-color;
    border-radius: $widget-border-radius;
    padding: $widget-padding;
    min-height: $dimension-xl;
    min-width: $dimension-md;
    color: $widget-text-color;
    
    .AudioSlider {
        margin: $margin-xl 0;
        
        trough {
            background-color: $widget-muted-foreground-color;
            border-radius: $widget-border-radius;
            min-height: $dimension-xs;
        }

        highlight {
            background: $color1;
            border-radius: $border-radius-lg;
        }

        slider {
            background-color: $foreground;
            border-radius: $border-radius-md;
            min-width: $dimension-sm;
            min-height: $dimension-sm;
            border: $border-width solid $foreground;
        }
    }
}
