@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.AudioSliderBox {
    background-color: $widget-background-color;
    border-radius: $widget-border-radius;
    padding: $widget-padding;
    min-height: 200px;
    min-width: 30px;
    color: $widget-text-color;
    
    .AudioSlider {
        margin: 15px 0;
        
        trough {
            background-color: $widget-muted-foreground-color;
            border-radius: $widget-border-radius;
            min-height: 4px;
        }

        highlight {
            background: $color1;
            border-radius: 100px;
        }

        slider {
            background-color: $foreground;
            border-radius: 50%;
            min-width: 16px;
            min-height: 16px;
            border: 2px solid $foreground;
        }
    }
}
