@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Bar window styles
window.Bar {
    background: transparent;
    color: $widget-text-color;
    font-weight: bold;
    
    > centerbox {
        background: rgba($color: $background, $alpha: $opacity-medium);
        border-radius: $border-radius-lg;
        margin: 0 $spacing-md $spacing-md $spacing-md;
    }
}
