@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Battery widget styles
.Battery {
    icon {
        font-size: $font-size-md;
        color: white;
    }

    label {
        font-weight: bold;
        font-size: $font-size-sm;
        color: white;
    }

    &:hover {
        background-color: rgba($color: $color1, $alpha: $opacity-light);

        icon,
        label {
            color: $color1;
        }
    }

    // Battery level indicators
    &.critical {
        background-color: rgba($color: $color3, $alpha: $opacity-heavy);

        icon,
        label {
            color: $color3;
        }
    }

    &.low {
        background-color: rgba($color: $color2, $alpha: $opacity-light);

        icon,
        label {
            color: $color2;
        }
    }

    &.charging {
        background-color: rgba($color: $color4, $alpha: $opacity-light);

        icon {
            color: $color4;
        }
    }
}