@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.OsdLevelBox {
    padding: $padding-md $padding-lg;
    min-height: $dimension-md;
    min-width: $dimension-xl;
    background-color: $widget-background-color;
    color: $widget-text-color;
    border-radius: $widget-border-radius;
    margin-bottom: $margin-xl * 2 + $spacing-sm; // 35px
    
    .OsdLevelBar {
        margin: 0 $margin-xl;
        
        trough {
            background-color: $widget-muted-foreground-color;
            border-radius: $border-radius-lg;
            min-height: $dimension-xs;
            min-width: $dimension-lg;
        }

        block {
            border-radius: $border-radius-lg;
            
            &.filled {
                background: $color1;
            }
        }
    }
}