@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.OsdLevelBox {
    padding: 10px 15px;
    min-height: 30px;
    min-width: 200px;
    background-color: $widget-background-color;
    color: $widget-text-color;
    border-radius: $widget-border-radius;
    margin-bottom: 35px;
    .OsdLevelBar {
        margin: 0 15px;
        trough {
            background-color: $widget-muted-foreground-color;
            border-radius: 100px;
            min-height: 4px;
            min-width: 120px;
        }

        block {
            border-radius: 100px;
            &.filled {
                background: $color1;
            }
        }
    }
}
