@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.DashboardWindow {
    background-color: rgba($color: $background, $alpha: 0.75);
    color: white;
    border-radius: $border-radius-sm;
    .DashboardContent {
        
        padding: $padding-sm;
        margin: $margin-xl;
        button{
            background-color: $color2;
            padding: $padding-md;
            border-radius: $border-radius-md;
            min-width: 150px;
        }
    }
}
