@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// System tray styles
.SysTray {
    // Special styling for known applications
    &.spotify-icon {
        icon {
            color: $spotify-color;
        }

        &:hover {
            background-color: rgba(30, 215, 96, $opacity-light);
        }
    }

    &.discord-icon {
        icon {
            color: $discord-color;
        }

        &:hover {
            background-color: rgba(88, 101, 242, $opacity-light);
        }
    }
}
