@use "/home/lonely/.cache/wal/colors-ags.scss" as *;
@use "../global/variables" as *;

// Time widget styles
.Time {
    font-weight: bold;
    font-size: $font-size-md;
    margin-right: $margin-lg;
}
