@use "/home/lonely/.cache/wal/colors-ags.scss" as *;
@use "../global/variables" as *;

// WiFi widget styles
.Wifi {
    padding: $padding-sm;
    border-radius: $border-radius-sm;
    transition: $transition-medium;
    
    icon {
        font-size: $font-size-md;
        color: $foreground;
        transition: $transition-color;
    }
    
    &:hover {
        background-color: rgba($color: $color1, $alpha: $opacity-light);
        
        icon {
            color: $color1;
        }
    }
    
    &.connected {
        background-color: rgba($color: $color4, $alpha: $opacity-light);
        
        icon {
            color: $color4;
        }
    }
    
    &.disconnected {
        background-color: rgba($color: $color3, $alpha: $opacity-light);
        
        icon {
            color: $color3;
        }
    }
}