@use "../global/variables" as *;
@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Workspaces widget styles
.Workspaces {
    button {
        font-weight: bold;
        font-size: $font-size-md;
        border-radius: $border-radius-lg;
        color: $widget-text-color;
        
        &:hover {
            background-color: rgba($color: $color1, $alpha: $opacity-heavy);
        }

        &.focused {
            background-color: $color1;
        }
    }
}
