@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Base styles for all components
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    outline: none;
    color: $foreground;
}

// Base button styles
button {
    background: transparent;
}

// Base tooltip styles
tooltip {
    background-color: rgba($background, 0.9);
    color: $foreground;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
}
