@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Module container styles
.modules-left,
.modules-center,
.modules-right {
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 100px;
    > box {
        padding: 5px 15px;
    }
}

.modules-center {
    > box {
        margin: 0 2px;
    }
    button {
        padding: 14px 20px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        margin: 0 5px;
        &:hover {
            background-color: rgba($color: $color1, $alpha: 0.3);
        }

        &.focused {
            background-color: $color1;
        }
    }
}
