@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

.AudioSliderBox {
    background-color: rgba($color: $background, $alpha: 0.95);
    border-radius: 100px;
    padding: 15px;
    min-width: 200px;
    color: white;

    .AudioSlider {
        // min-height: 8px;
        border-radius: 4px;

        trough {
            background-color: rgba($color: $foreground, $alpha: 0.3); // Fundo cinza
            border-radius: 100px;
            min-height: 4px;
        }

        fill {
            background-color: white;
            border-radius: 100px;
        }

        slider {
            background-color: $foreground; // O botãozinho
            border-radius: 50%;
            min-width: 16px;
            min-height: 16px;
            border: 2px solid $foreground;
        }
    }
}
