@use "/home/lonely/.cache/wal/colors-ags.scss" as *;

// Time widget styles
.Time {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 15px;
}

.Date {
    font-weight: normal;
    font-size: 14px;
    padding: 6px 12px;
}
